.about
    height: 1130px
    padding-top: 128px
    padding-bottom: 272px
    background: url(../img/buildings.png) center 101% repeat-x, url(../img/buildingsblack.png) center 101% repeat-x, #1d1d1d
    &__inner
        display: grid
        grid-template-rows: max-content max-content
        grid-template-columns: max-content max-content
        grid-gap: 178px
        justify-content: center
    &__item
        width: 416px
        height: 276px
        background: #181818
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0 14px
    &__year
        font-family: "HelveticaNeueLTProLt", sans-serif
        font-size: 48px
        font-weight: 400
        letter-spacing: 0.02em
        color: #fefefe
        margin-bottom: 27px
    &__text
        font-family: "Montserrat-Light", sans-serif
        font-size: 15px
        font-weight: 300
        letter-spacing: 0.02em
        line-height: 22px
        color: #b7b7b7
@media screen and (max-width: 1201px)
    .about__inner
        grid-gap: 20px
    .about__item
        width: 362px
    .about
        padding-top: 80px
        height: 870px

@media screen and (max-width: 769px)
    .about__inner
        grid-gap: 30px
        grid-template-columns: max-content
    .about
        height: auto
        padding-bottom: 200px
@media screen and (max-width: 576px)
    .about__item
        max-width: 330px
